<DOCTYPE! html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Телефонный справочник</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
     type="text/css">
  </head>

<body>
  <div class="container">
    <h2>Телефонный справочник</h2>
    <p>
        <a href="/phonebook/" class="btn btn-success btn-lg">Главная страница</a>
        <a href="/abonent/" class="btn btn-warning btn-lg">Абоненты</a>
        <a href="/phonebook/contact" class="btn btn-info btn-lg">Контакты</a>
        <a href="/phonebook/adm" class="btn btn-admin"><img src={% static 'phonebook/image/admin.png'  %} width="40px"></a>
    </p>
  </div>
  <div class="jumbotron">
    <div class="container">

      {% block content  %}
      {% endblock %}
      </div>
    </div>
    <div class="container">
      <img src={% static 'phonebook/image/ros.png'  %} width="100px">
      <hr>
      &copy;  Все права защищены 2020
    </div>

</body>

</html>
